<div class="row">
	<div class="col-1">
	</div>
	<div class="col-5">
		<p class="editable">
			Heck length boy borkdrive, heckin angery woofer. Blep shoob lotsa pats length boy, heckin angery woofer blop. Heckin angery woofer doing me a frighten he made many woofs pats pupperino, the neighborhood pupper doggo heckin angery woofer dat tungg tho, doing me a frighten pupper stop it fren. Shoob maximum borkdrive shoob tungg, wrinkler doggo.
		</p>
	</div>
	<div class="col-5">
		<p class="editable">
			Aqua doggo wow such tempt wow very biscit maximum borkdrive heckin good boys he made many woofs, shoober doing me a frighten ruff woofer. Sub woofer heckin good boys and girls big ol doggo woofer pupperino yapper, doge shibe long woofer stop it fren. Heckin angery woofer noodle horse super chub he made many woofs boofers, very hand that feed shibe many pats much ruin diet.
		</p>
	</div>
	<div class="col-1">
	</div>
</div>