<nav class="navbar navbar-expand mt-0 d-flex justify-content-between">
	<h4>
		Layout
	</h4>
	<h4>
		<button class="exp-hl" href="#" id="defsb">
			<i class="fa fa-list"></i>
		</button>
	</h4>
</nav>
<div class="sidebar-sticky">
	<ul class="nav flex-column">
		<li class="nav-item d-flex flex-row-reverse mr-1 a-txt-hl a-hl" draggable="true" ondragstart="drag(ev)">
      		<span data-feather="navbar"></span>
      		Navigation Bar &nbsp;
		</li>
		<li class="nav-item d-flex flex-row-reverse mr-1 a-txt-hl a-hl" draggable="true" ondragstart="drag(ev)">
      		<span data-feather="navbar"></span>
      		Section &nbsp;
		</li>
		<li class="nav-item d-flex flex-row-reverse mr-1 a-txt-hl a-hl" draggable="true" ondragstart="drag(ev)">
      		<span data-feather="navbar"></span>
      		Split &nbsp;
		</li>
	</ul>
</div>
